*{
    margin: 0;
    padding: 0;
}

#title-about{
    display: inline,flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px #FEC260 solid;

}

#img{
    width: 45em;
    height: 35em;
}

.about-dist{
    padding: 1em 7em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 4em;

}
@media only screen and (min-width:1200px) and (max-width:1350px)
{
    #img{
        width: 41em;
        height:32em;
    }
    .about-dist{
        padding: 1em 6em;
        display: grid;
        font-size: .9em;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        gap: 3.6em;
    
    }
}
@media only screen and (min-width:1000px) and (max-width:1199px)
{
    #img{
        width: 40em;
        height: 30em;
    }
    .about-dist{
        padding: 1em 6em;
        display: grid;
        font-size: .8em;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        gap: 3em;
    
    }
}
@media only screen and (min-width:800px) and (max-width:999px)
{
    #img{
        width: 37em;
        height: 27em;
    }
    .about-dist{
        padding: 1em 6em;
        display: grid;
        font-size: .7em;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        gap: 2.4em;
    
    }
}
@media only screen and (min-width:600px) and (max-width:799px)
{
    #img{
        width: 38em;
        height:28em;
    }
    .about-dist{
        padding: 1em 6em;
        display: grid;
        font-size: .4em;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        gap: 1.2em;
    
    }
}
@media only screen and (max-width:599px)
{
    #img{
        width: 38em;
        height:30em;
    }
    .about-dist{
        padding: 1em 6em;
        display: grid;
        font-size: .3em;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        gap: .5em;
    
    }
}